<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nine.one.yuedu.read.mapper.CsChapterinfoMapper">
  <resultMap id="BaseResultMap" type="com.nine.one.yuedu.read.entity.CsChapterinfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="bookid" jdbcType="INTEGER" property="bookid" />
    <result column="cpbookid" jdbcType="BIGINT" property="cpbookid" />
    <result column="cpchapterid" jdbcType="BIGINT" property="cpchapterid" />
    <result column="volumnid" jdbcType="INTEGER" property="volumnid" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="isvip" jdbcType="INTEGER" property="isvip" />
  </resultMap>
</mapper>